/* Обнуление */
html {
    box-sizing: border-box;
  }
*,
*::before,
*::after {
    box-sizing: inherit;
  }

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

/* common styles */
:root {
    --primary-text-color: #757575;
    --secondary-text-color: #FFFFFF;
    --title-text-color: #212121;
    --primary-background-color: #FFFFFF;
    --footer-background-color: #2F303A;
    --secondary-background-color: #F5F4FA;
    --accent-text-color: #2196F3;
    --selected-button-background: #2196F3;
    --unselected-button-background: #F5F4FA;

}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--primary-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-text-color);
}

ul {
    list-style: none;
}

address {
    font-style: normal;
}

/* container */
.container {
    max-width: 1210px;
    padding: 0 20px;
    margin: 0 auto;

}

/* button */
.button {
    display: block;
    margin: 0 auto;
    min-width: 200px;
    border-radius: 4px;
    font-weight: 700;
    background-color: var(--accent-text-color);
    color: var(--secondary-text-color);
    text-align: center;
    line-height: 1.75;
    font-size: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 10px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--selected-button-background);
    letter-spacing: 0.06em;
    
}

.button:hover, 
.button:focus {
    color: var(--title-text-color);
    background-color: #188CE8;
}


/* page-section */
.page-section {
    padding: 94px 0;
    background-color: var(--primary-background-color);

}

.page-section--withoutTopPadding {
    padding-top: 0;
}

.page-section--secondaryBackgroundColor {
    background-color: var(--secondary-background-color);
}

.page-section__title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* logo */
.logo {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-decoration: none;
}


.logo--accent-collor {
    color: var(--accent-text-color);
}


/* header styles */
.header__content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin: 0 93px 0 0;
}

.header__contacts-list {
    display: flex;
}
.header__contact-item:not(:last-child) {
    margin-right: 30px;
}
.header__contact-link {
    color: var(--primary-text-color);
    font-weight: 500;
    padding: 32px 0;
}

/* nav menu */

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu__list {
    display: flex;
    align-items: center;
}

.nav-menu__item:not(:last-child) {
    margin-right: 50px;
}

.nav-menu__link {
    position: relative;
    display: block;
    padding: 32px 0;
    color: var(--title-text-color);
    font-weight: 500;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu__link:hover {
    color: var(--accent-text-color);
}

.nav-menu__link--active-link{
    color: var(--accent-text-color);
}

.nav-menu__link--active-link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--selected-button-background);
}


/* contact-link */

.contact-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-text-color);
}

.contact-link__icon {
    fill: currentColor;
    margin-right: 10px;
}


/* hero styles */
.hero-section {
    background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4), 
                                               rgba(47, 48, 58, 0.4)), 
                    url(../images/heroBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    text-align: center;
}

.hero-section__title {
    margin: 0 auto 30px;
    max-width: 696px;
    color: var(--secondary-text-color);
    text-align: center;
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


/* Features*/
.features-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px
}

.features-list__item {
    max-width: 270px;
    margin: 15px;
}

.features-list__item::before {
    content: '';
    display: block;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.features-list__item:nth-child(1):before {
    background-image: url(../images/featersIcons/antenna.svg);
}
.features-list__item:nth-child(2):before {
    background-image: url(../images/featersIcons/clock.svg);
}
.features-list__item:nth-child(3):before {
    background-image: url(../images/featersIcons/diagram.svg);
}
.features-list__item:nth-child(4):before {
    background-image: url(../images/featersIcons/astronaut.svg);
}

.features-list__title {
    margin-bottom: 10px;
    line-height: 1.1;
}

.features-list__description {
    font-weight: 400;
    line-height: 1.7;
}


/* what we doing */
.whatWeDoing-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
}

.whatWeDoing-list__item {
    position: relative;
    margin: 15px;
}

.whatWeDoing-list__image {
    display: block;
    height: 100%;
}

.whatWeDoing-list__description {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    color: var(--secondary-text-color);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    text-align: center;
    padding: 27px 0;
}


/* Our team */
.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
}

.team-member {
    margin: 15px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}

.team-member__image {
    margin-bottom: 30px;
}

.team-member__name,
.team-member__position {
    font-size: 16px;
    line-height: 1.1;
}

.team-member__name {
    margin-bottom: 10px;
    font-weight: 500;
}

.team-member__position {
    margin-bottom: 16px;
}

.team-member__socialLinks-list {
    display: flex;
    justify-content: center;
    margin: -5px;
}

.team-member__socialLink-item {
    margin: 5px;
}

.team-member__socialLink {
    display: inline-flex;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member__socialLink:hover {
    background-color: var(--selected-button-background);
    fill: #FFFFFF;
}

.team-member__socialLink-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member__socialLink:hover>.team-member__socialLink-icon {
    fill: #FFFFFF;
}


/* Regular customers styles */
.customers-list {
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.customers-list__item {
    margin: 15px;
}
.customers-list__icon {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list__icon:hover {
    fill: var(--selected-button-background);
    border-color: var(--selected-button-background);
}


/* footer */
.footer {
    padding: 60px 0;
    color: var(--secondary-text-color);
    background-color: var(--footer-background-color);
}

.footer__content-wrapper {
    display: flex;
}

.footer__logo {
    margin: 0 0 20px 0;
    color: var(--secondary-text-color);
}

.footer__contacts-list {
    line-height: 1.71;
}

.footer__contact-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__contact-link {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
}

.footer__contacts-list .contact-link:hover,
.footer__contacts-list .contact-link:focus {
    color: var(--accent-text-color)
}

.footer__socials {
    padding-top: 12px;
    margin-left: 83px;
}

.footer__title {
    margin-bottom: 20px;
    color: var(--secondary-text-color);
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
}

.footer__socials-list {
    display: flex;
}

.footer__socials-list-item:not(:last-child) {
    margin-right: 10px;
}

.footer__solial-link {
    display: inline-flex;
}
.footer__solial-link::before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__solial-link:hover:before {
    background-color: var(--selected-button-background);
}

.footer__solial-link--instagram-icon::before {
    background-image: url(../images/footerSocialsIcons/instagram.svg);
}
.footer__solial-link--twitter-icon::before {
    background-image: url(../images/footerSocialsIcons/twitter.svg);
}
.footer__solial-link--facebook-icon::before {
    background-image: url(../images/footerSocialsIcons/facebook.svg);
}
.footer__solial-link--linkedin-icon::before {
    background-image: url(../images/footerSocialsIcons/linkedin.svg);
}

.footer__subscribe-wrapper {
    flex: 1 1 auto;
    margin-left: 93px;
    padding-top: 12px;
}

/* subscribe-form */
.subscribe-form {
    display: flex;
    max-width: 570px;
}

.subscribe-form__input {
    flex: 1 1 auto;
    margin-right: 12px;
    padding: 15px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
}

.subscribe-form__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.subscribe-form__btn-icon {
    margin-left: 10px;
    fill: var(--secondary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form__button:hover .subscribe-form__btn-icon {
    fill: var(--title-text-color);
}

/* portfolio styles */

/* filters list */
.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filters-list__item:not(:last-child) {
    margin-right: 8px;
}

.filters-list__button {
    background: var(--unselected-button-background);
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    border: 1px solid var(--unselected-button-background);
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-list__button:hover,
.filters-list__button:focus {
    background-color: var(--selected-button-background);
    color: var(--secondary-text-color);
    border: 1px solid var(--selected-button-background);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* projects-list */
.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;    
}

.projects-list__item {
    margin: 15px;
    border: 1px solid #EEEEEE;
    max-width: 370px;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list__item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list__link {
    text-decoration: none;
}

.projects-list__image-thumb {
    position: relative;
    overflow: hidden;
}

.projects-list__image {
    display: block;
}

.projects-list__image-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    line-height: 1.55;
    font-size: 18px;
    color: var(--secondary-text-color);
    font-weight: 400;
    letter-spacing: 0.03em;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list__item:hover .projects-list__image-text {
    transform: translate(0, 0);
}

.projects-list__description {
    padding: 20px 24px;
}

.projects-list__title {
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
}

.projects-list__type {
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: var(--primary-text-color);
}


/* backdrop */
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* modal */
.feedback-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 528px;
    min-height: 581px;
    padding: 40px;

    background-color: var(--primary-background-color);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-modal__title {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.feedback-modal__text-fields-group {
    margin-bottom: 20px;
}

.feedback-modal__form-field:not(:last-child) {
    position: relative;
    margin-bottom: 10px;
}

.feedback-modal__field-label {
    display: inline-block;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
}

.feedback-modal__text-field {
    display: block;
    min-width: 100%;
    padding: 12px 12px 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.feedback-modal__text-field--forComents{
    resize: none;
    padding: 12px 16px;
    min-height: 120px;
}

.feedback-modal__text-field:focus{
    outline: 1px solid var(--selected-button-background);
}


.feedback-modal__input-icon {
    position: absolute;
    bottom: 14px;
    left: 15px;
}

.feedback-modal__form-field:focus-within .feedback-modal__input-icon {
    fill: var(--selected-button-background);
}

.feedback-modal__agreement-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.feedback-modal__agreement-field-checkbox {
    appearance: none;
}

.feedback-modal__agreement-label {
    display: flex;
    align-items: center;
    line-height: 1.7;
    user-select: none;
}

.feedback-modal__agreement-label::before {
    content: '';
    display: inline-block;
    min-width: 16px;
    min-height: 15px;
    margin-right: 8.38px;
    border: 2px solid #212121;
    border-radius: 2px;
    background-color: transparent;

}

.feedback-modal__agreement-field-checkbox:checked + .feedback-modal__agreement-label::before {
    border: 2px solid var(--selected-button-background);
    background-color: var(--selected-button-background);
    background-image: url(../images/icons/iconCheck.svg);
    background-size: contain;
    background-origin: border-box;
}

.feedback-modal__agreement-conditions {
    color: var(--accent-text-color);
}

/* close buttton */
.close-button {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.0);
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    text-align: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover .close-button__icon {
    fill: var(--selected-button-background);
}