@import './/utils/variables';
@import './base/resetDefaultStyles';
@import './base/modernNormalize';
@import './base/common';

/* common components */
@import './components/common/button';
@import './components/common/page-section';
@import './components/common/logo';
@import './components/common/header';
@import './components/common/nav-menu';
@import './components/common/contact-link';
@import './components/common/footer';
@import './components/common/subscribe-form';
@import './components/common/backdrop';
@import './components/common/close-button';

/* mainPage components */
@import './components/mainPage/hero';
@import './components/mainPage/features-list';
@import './components/mainPage/whatWeDoing-list';
@import './components/mainPage/team-list';
@import './components/mainPage/customers-list';
@import './components/mainPage/feedback-modal';

/* portfolioPage Components */
@import './components/portfolioPage/filters-list';
@import './components/portfolioPage/projects-list';