/* projects-list */
.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;    
}

.projects-list__item {
    margin: 15px;
    border: 1px solid #EEEEEE;
    width: calc((100% - 90px)/3);
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                    0px 4px 4px rgba(0, 0, 0, 0.06),
                    1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.projects-list__link {
    text-decoration: none;
}

.projects-list__image-thumb {
    position: relative;
    overflow: hidden;
}

.projects-list__image {
    display: block;
    width: 100%;
}

.projects-list__image-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    line-height: 1.55;
    font-size: 18px;
    color: $secondaryTextColor;
    font-weight: 400;
    letter-spacing: 0.03em;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .projects-list__item:hover & {
        transform: translate(0, 0);
    }
}

.projects-list__description {
    padding: 20px 24px;
}

.projects-list__title {
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
}

.projects-list__type {
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: $primaryTextColor;
}