$primaryTextColor: #757575;
$secondaryTextColor: #FFFFFF;
$titleTextColour: #212121;
$primaryBackgroundColor: #FFFFFF;
$secondaryBackgroundColor: #F5F4FA;
$footerBackgroundColor: #2F303A;
$accentTextColor: #2196F3;
$selectedButtonBackground: #2196F3;
$unselectedButtonBackground: #F5F4FA;