/* Regular customers styles */
.customers-list {
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.customers-list__item {
    margin: 15px;
}

.customers-list__icon {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover {
        fill: $selectedButtonBackground;
        border-color: $selectedButtonBackground;
    }
}
