.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
}

.team-member {
    margin: 15px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    font-size: 16px;
    line-height: 1.1;
}

.team-member__image {
    margin-bottom: 30px;
}

.team-member__name {
    margin-bottom: 10px;
    font-weight: 500;
}

.team-member__position {
    margin-bottom: 16px;
}

.team-member__socialLinks-list {
    display: flex;
    justify-content: center;
    margin: -5px;
}

.team-member__socialLink-item {
    margin: 5px;
}

.team-member__socialLink {
    display: inline-flex;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover {
        background-color: $selectedButtonBackground;
        fill: #FFFFFF;
    }
}

.team-member__socialLink-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .team-member__socialLink:hover>& {
        fill: #FFFFFF;
    }
}